*{
    margin:0;
    padding: 0;
}
body{
    height: 100vh;
    background-color: rgba(209, 211, 208, 0.767);
    font: normal 15pt arial;
    display: flex;
    flex-direction: column;
    align-items: center;
}
header{
    color:rgba(255, 255, 255, 0.767);
    text-align: center;
}
section{
    background:rgba(255, 255, 255, 0.767);
    margin: 25px 25px 0;
    border-radius: 10px;
    box-shadow: 5px 5px 10px rgba(35, 36, 35, 0.767);
    padding: 15px;
    max-width: 500px;
    min-width: 300px;
}
footer{
    color:rgba(255, 255, 255, 0.767);
    text-align: center;
    font-style: italic;
}
div#corpo{
    text-align: center;
    padding: 20px;
}
div#texto{
    font: normal 30px arial;
    text-align: center;
    color: #1A1919;
}
img#foto{
    height: 300px;
    width: 300px;
    text-align: center;
}
.cab_text{
    font-family: sans-serif, Arial, Helvetica;
    font-size: 44px;
    margin-top: 10px;
}
.filter_manha{
    background-color:#34658e;
}
.filter_tarde{
    background-color:#FF9633;
}
.filter_noite{
    background-color:#0f0d2f;
}
.filter_madruga{
    background-color:#1A1919;
}